<div class="jumbotron">
  <h1>AngularJS D3 FlowerSlider</h1>
  <p class="lead">
    <img src="images/FlowerSlider.png" alt="RedPandaTronics"><br>
    A customisable multi slider interface, with an average in the center and various visual feedbacks.
  </p>
</div>

<div class="row marketing">
  <h4>How to install</h4>
  <p>
    bower...
  </p>

  <h4>Parameters</h4>
  Flower slider
  <rpt-flower-slider id="slider1" num-sliders="myNumSliders"
  start-angle="0" stop-angle="360" slider-prefix="mySl" step-sliders="[0, 1, 2, 3, 8]"></rpt-flower-slider>
  <rpt-flower-slider num-sliders="3" initial-values="[25, 50, 75]"
  start-angle="45" angle-increment="45"></rpt-flower-slider>
  END
  <p>
    FlowerSlider has a number of parameters you can customise:
    <dl>
    <dd>Number of sliders</dd>
      <dt>blahhhh</dt>
    <dd>Custom angle</dd>
      <dt>blahhhh</dt>
    </dl>
  </p>

  <h4>Example</h4>
  <p>Change the parameters as you like:</p>
  <p>
    Number of slider: <input type="range" min="1" max="15" ng-model="myNumSliders"> {{myNumSliders}}
  </p>
</div>
